DISCORD_TOKEN=XXXXXXXX # 親機のトークン
APPLICATION_ID=123456789012345678 # 親機のアプリケーションID
LOGGER_NAME=discord-tts-bot # 親機ロガーの名前
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxxx@xxxx.iam.gserviceaccount.com # Google Cloudのサービスアカウントのメールアドレス
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXXXXX\n-----END PRIVATE KEY-----\n" # Google Cloudのサービスアカウントの秘密鍵 (改行は\nで表現)

GUILD_ID=123456789012345678 # コマンドを登録するギルドID(deploy:guild実行時に必要)
OWNER_ID=123456789012345678 # 管理者のユーザーID
VOICE_CATEGORY_ID=123456789012345678 # ボイスチャンネルのカテゴリーID(自動参加確認に必要)

CHILD_CLIENTS_COUNT=2 # 子機の数、無い場合は0にする
# 子機のトークンの環境変数の記述は CHILD_子機番号_DISCORD_TOKEN の形式で行う
CHILD_1_DISCORD_TOKEN=YYYYYYYY # 子機1のトークン
# 子機の名前の環境変数の記述は CHILD_子機番号_NAME の形式で行う、この名前は子機の識別やログ名に使用される
CHILD_1_NAME=discord-tts-bot-child-1 # 子機1の名前

CHILD_2_DISCORD_TOKEN=ZZZZZZZZ # 子機2のトークン
CHILD_2_NAME=discord-tts-bot-child-2 # 子機2の名前
